NEXT_PUBLIC_MAPBOX_TOKEN=pk.your_token_here

OLLAMA_MODEL=gemma3:27b
OLLAMA_API_KEY=your_key


# Custom Mapbox styles (optional - defaults to Mapbox streets/dark if not set)
NEXT_PUBLIC_MAPBOX_STYLE_LIGHT=mapbox://styles/YOUR_USERNAME/YOUR_LIGHT_STYLE_ID
NEXT_PUBLIC_MAPBOX_STYLE_DARK=mapbox://styles/YOUR_USERNAME/YOUR_DARK_STYLE_ID